.mg-checkbox {
    display: none;
}
.mg-checkbox + label {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.mg-checkbox + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease;
}
.mg-checkbox:checked ~ label:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.mg-checkbox-label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}