@media print {

    html, body { height: 90%; max-height: 100%; overflow: hidden; }

    body * {
        height: 0px !important;
        overflow: hidden !important;
    }
    .mg-echo-print-report * {
        height: auto !important;
        overflow: visible !important;
    }

    .mg-echo-print-report {
        height: auto !important;
        overflow: visible !important;
        display: block !important;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999999;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .background-white {
        position: absolute;
        left: 0; top: 0;
        z-index: -1;
        width: 100%; height: 100%;
    }

    .mg-echo-print-report {
        font-family: 'Arial', sans-serif;
        font-size: 12px;
        line-height: 18px;
    }

    .mg-echo-report-h1 {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        margin: 10px 0 0 0;
        color: #000;
    }

    .mg-echo-report-h2 {
        font: bold 12px/16px 'Arial', sans-serif;
        margin: 10px 0 11px 0;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1.2px;

    }

    .mg-echo-report-h3 {
        font: normal 12px/16px 'Arial', sans-serif;
        margin: 4px 0 0 0;
        color: #000;
    }

    .mg-echo-report-hr {
        margin: 20px 0 0 0;
        display: block;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 2px #000;
    }

    p { margin: 16px 0; }

    .nowrap {
        white-space: nowrap;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table thead > tr td:last-child {
        width: 100%;
    }

    thead {
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: normal;
        color: #666;
        text-transform: uppercase;
        color: #000;
    }

    td.digits-margin {
        padding: 2px 50px 2px 10px;
        margin: 0px;
        text-align: right;
    }

    td.digits {
        padding: 2px;
        margin: 0px;
        text-align: right;
    }

    td {
        text-align: left;
        padding: 2px 20px 2px 0;
        border-bottom: 1px solid #d9d9d9;
        min-width: 100px;
    }

    td.empty {
        color: #000;

    }

    tfoot {
        font-weight: bold;
    }

    .mg-echo-logo { max-width: 200px; }

    .no-border {
        border: 0;
    }

    .box1 {
        width: 810px;
    }

    .box2 {
        width: 50%;
        display: table-cell;
    }

    .left {
        margin-right: 60px;
    }

    .right {

    }

    .box3 {
        width: 270px;
        display: table-cell;
    }

    .container {
        margin: 0 auto;
        width: 100%;
    }

    .block {
        margin: 0 0 20px 0;
        display: table;
    }

    .block-head {

        display: table;
        width: 100%;
    }

    .mg-echo-label {
        font: bold 10px 'Arial', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #000;
    }

    .description {
        font-size: 10px;
        font-style: italic;
    }

    .col2 {
        width: 405px;
    }

    .col3 {
        width: 810px;
    }

    .small {
        position: relative;
        font: italic 11px 'Georgia', 'Times New Roman', serif;
        top: -5px;
    }

    .last {
        margin-bottom: 100px;
    }

}